In [73]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split

In [75]:
df = pd.read_csv('./NationalNames.csv')

In [76]:
df.drop_duplicates(subset='Name', keep='first', inplace=True)

In [77]:
df.head()

   Id       Name  Year Gender  Count
0   1       Mary  1880      F   7065
1   2       Anna  1880      F   2604
2   3       Emma  1880      F   2003
3   4  Elizabeth  1880      F   1939
4   5     Minnie  1880      F   1746

In [78]:
df = df.iloc[1:10000]
df = df.drop(['Id','Year','Gender','Count'], 1)

In [79]:
def createTarget(name) :
    if len(name) < 3 : return "badBoy"
    target = "badBoy"
    if name[0].lower() == 'a' : target = "goodBoy"
    if name[1].lower() == 'u' : target = "goodBoy"
    if name[2].lower() == 'h' : target = "goodBoy"
    return target

In [80]:
df['target'] = df['Name'].apply(lambda name: createTarget(name))

In [81]:
df['formatedNames'] = df['Name'].apply(lambda x: x[0:5] if len(x) > 5 else x + 'x' * (5 - len(x)))

In [82]:
df = df.drop(['Name'], 1)

In [83]:
df = df[['formatedNames', 'target']]

In [84]:
df.target.value_counts()

badBoy     8311
goodBoy    1688
Name: target, dtype: int64

In [85]:
X_train, X_test, y_train, y_test = train_test_split(df['formatedNames'], df['target'], test_size=0.25, random_state=5)

In [86]:
trainingData = pd.DataFrame(dict(formatedNames = X_train, target = y_train)).reset_index().drop(['index'],1)
validationData = pd.DataFrame(dict(formatedNames = X_test, target = y_test)).reset_index().drop(['index'],1)

In [88]:
validationData[validationData['target'] == "badBoy"]

     formatedNames  target
0            Redxx  badBoy
2            Idris  badBoy
5            Manly  badBoy
6            Milbe  badBoy
7            Okeyx  badBoy
8            Capto  badBoy
9            Prude  badBoy
10           Elthe  badBoy
11           Latre  badBoy
12           Delor  badBoy
14           Nyrax  badBoy
15           Gorda  badBoy
16           Fredr  badBoy
17           Cande  badBoy
19           Georg  badBoy
20           Broni  badBoy
21           Kathe  badBoy
23           Mazel  badBoy
24           Estan  badBoy
25           Dorin  badBoy
27           Hatto  badBoy
28           Limxx  badBoy
29           Marcx  badBoy
30           Meryl  badBoy
31           Franc  badBoy
32           Veola  badBoy
35           Delmu  badBoy
36           Betri  badBoy
37           Hasti  badBoy
38           Glend  badBoy
...            ...     ...
2466         Edwar  badBoy
2467         Metta  badBoy
2468         Troyx  badBoy
2469         Shell  badBoy
2470         Orman  badBoy
2471         Bethe  badBoy
2472         Verli  badBoy
2473         Inola  badBoy
2475         Myrth  badBoy
2476         Vergi  badBoy
2477         Lilli  badBoy
2478         Hirok  badBoy
2479         Conse  badBoy
2481         Walde  badBoy
2482         Veren  badBoy
2483         Gypsi  badBoy
2485         Donel  badBoy
2487         River  badBoy
2488         Senor  badBoy
2489         Isaia  badBoy
2490         Chona  badBoy
2491         Kenny  badBoy
2492         Girar  badBoy
2493         Ivoxx  badBoy
2494         Leith  badBoy
2495         Marsh  badBoy
2496         Jewet  badBoy
2497         Idama  badBoy
2498         Donat  badBoy
2499         Malzi  badBoy

[2057 rows x 2 columns]

In [ ]:
trainingData.to_csv('training_data.csv',index=False,header=False)
validationData.to_csv('validation_data.csv',index=False,header=False)

In [ ]:
trainingData[trainingData['target'] == "goodBoy"]

In [ ]:
validationData[validationData['target'] == "badBoy"]

In [72]:
trainingData.sort_values(by=['formatedNames'],inplace=True)
trainingData.to_csv('test.csv',index=False,header=False)